.header {
    width: 100%;
    height: 70px;
    line-height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111111;
    background: #2B2C52;
    padding: 0px 40px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo h2 {
    color: #fff;
}

.logo img {
    width: 30px;
}

.logo a {
    text-decoration: none;
}

.statut {
    background: rgba(255, 99, 122, 0.726);
    border-radius: 6px;
    line-height: 1;
    padding: 5px;
    margin-right: 5px;
    color: #fff;
}

.nav_list {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}

.nav_item a {
    text-decoration: none;
    color: #fff;
}

.nav_item a:hover {
    color: #FF637B;
}

.active {
    color: #FF637B !important;
}

.nav_right {
    color: #fff;
}

.btns button a:hover {
    color: #fff;
}

.workflow_message {
    background: #3D4378;
    border-radius: 0px 0px 120px 120px;
    line-height: 1;
    padding: 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}