.register_section {
    padding-top: 120px;
    background: #f2f1f8;
    height: 820px;
}

.register_content h2 {
    margin-top: 5%;
    line-height: 55px;
    font-size: 2.5rem;
}

.register_content h2 span {
    color: #151964;
}

.register_btns {
    margin-top: 40px;
}